## Arithmetic Operators

In [ ]:
# Addition (+)

a = 10
b = 3

print(a + b)

13

In [ ]:
c = a + b
print(c)

13

In [ ]:
# Subtraction (-)

a = 10
b = 13

print(a - b)

-3

In [ ]:
c = a - b
print(c)

-3

In [ ]:
# Multiplication (*)

a = 10
b = 3

print(a * b)

30

In [ ]:
c = a * b
print(c)

30

In [ ]:
# Division (/)

a = 10
b = 3

print(a / b)

3.3333333333333335

In [ ]:
c = a / b
print(c)

3.3333333333333335

In [ ]:
# Modulus (%)

a = 10
b = 3

print(10 % 3)

1

In [ ]:
c = a % b
print(c)

1

In [ ]:
# Floor Division (//)

a = 11
b = 3

print(a // b)

3

In [ ]:
c = a // b
print(c)

3

In [ ]:
# Exponentiation (**)

a = 10
b = 3
print(a ** b)

1000

In [ ]:
c = a ** b
print(c)

1000

## Comparison Operators

In [ ]:
# Equal to (==)

a = 12
b = 10
c = 10

print(a == b)
print(a == c)
print(b == c)

False
False
True

In [ ]:
# Not Equal to (!=)

a = 12
b = 10
c = 10

print(a != b)
print(a != c)
print(b != c)

True
True
False

In [ ]:
# Greater than (>)

a = 12
b = 10
c = 10

print(a > b)
print(a > c)
print(b > c)

True
True
False

In [ ]:
# Less than (<)

a = 12
b = 10
c = 10

print(a < b)
print(a < c)
print(b < c)

False
False
False

In [ ]:
# Less than or Equal (<=)

a = 12
b = 10
c = 10

print(a <= b)
print(a <= c)
print(b <= c)

False
False
True

In [ ]:
# Greater than or Equal (<=)

a = 12
b = 10
c = 10

print(a >= b)
print(a >= c)
print(b >= c)

True
True
True

In [ ]:
# Exercise 1

password = 12345

login = input("Enter your password:")

login = int(login)

print(password == login)

Enter your password:12345
True

In [ ]:
type(login)

int

In [ ]:
# Exercise 2

x = input("Enter first Digit: ")
y = input("Enter second Digit: ")

x = int(x)
y = int(y)

msg = "The Sum is:"

print(msg, x + y)

Enter first Digit: 5
Enter second Digit: 5
The Sum is: 10

In [1]:
# Exercise: Carryout the above exercise with other arithmetic operators

## Assignment Operators

Connects values to variables

In [2]:
# Assign (=)

number = 10

In [3]:
# Add and assign (+=)

a = 2

a = a + 4
print(a)

6

In [7]:
a = 2

a += 4
print(a)

6

In [8]:
# Subtraction and assign (-=)

a = 2

a -= 4
print(a)

-2

In [9]:
# Multiply and assign (*=)

a = 2

a *= 4
print(a)

8

In [ ]:
# Multiply and assign (*=)

a = 2

a *= 4
print(a)

In [10]:
# Divide and assign (/=)

a = 2

a /= 4
print(a)

0.5

In [11]:
# Modulus and assign (%=)

a = 2

a %= 4
print(a)

2

In [13]:
# Exponentiate and assign (**=)

a = 2

a **= 4
print(a)

16

In [14]:
# Floor divide and assign (//=)

a = 2

a //= 4
print(a)

0

## Logical Operators

Combines conditionsal statements

In [15]:
# AND

a = True
b = False

print(a and b)

False

In [16]:
# OR

a = True
b = False

print(a or b)

True

In [17]:
a = False
b = False

print(a or b)

False

In [22]:
# NOT

a = True

print(not a)

False

## Membership Operators

Checks for presence in a collection

In [25]:
# in

# Creating a Python list
name = ['John', 'Paul', 'Sandra', 'Debra', 'Cynthia']

# Checking data type
type(name)

# using in operator
print('Cynthia' in name)

True

In [26]:
# not in

# Creating a Python list
name = ['John', 'Paul', 'Sandra', 'Debra', 'Cynthia']

# Checking data type
type(name)

# using in operator
print('Cynthia' not in name)

False

In [28]:
# Exercise

# Creating a Python list
name = ['John', 'Paul', 'Sandra', 'Debra', 'Cynthia']

search = input("Enter Name: ")

# using in operator
print(search in name)

Enter Name: Cynthia
True